---
siteTitle: Eleventy Plugin Future Post
---

<!doctype html>

<html>
  <head>
    <title>{{ siteTitle }}</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
    <meta name="author" content="John M. Wargo">    
    <link rel="stylesheet" href="/assets/css/mvp.css">
    <link rel="stylesheet" href="/assets/css/index.css">
  </head>

  <body>    
    <main>
      <h1>{{ title }}</h1>
      {{ content }}
    </main>
    <script src="/assets/js/index.js"></script>
  </body>
</html>